body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: 100;
}

p {
    font-size: 22px;
    font-weight: bold;
    color: #aca000;
}

.container {
    border: 2px solid #eade2e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 30px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #fefdf2;
}

label {
    padding: 10px;
}

input {
    width: 100%;
    margin: 8px;
    font-size: 16px;
    padding: 10px;
    
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #eade2e;
    border: none;
}

ul li {
    border: 2px solid lightgray;
    border-radius: 2%;
    margin: 20px;
    padding: 10px;
    width: 300px;
    
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: white;
}

.note-label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;    
}

#noteList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
    border: 2px solid lightgray;
    background-color: #fefdf2;
    border-radius: 30px;
}